.profile {
  width: 100%;
 
}

.profile__open {
  visibility: visible;
  opacity: 1;
}
.profile__info {
  position: relative;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#F7F7F8; 
}

.profile__nickname {
  margin: 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #97979B;
  text-transform: lowercase;
}

.profile__icon_type_back {
  position: absolute;
  top: 30px;
  left: 30px;
}

.profile__avatar {
  max-width: 104px;
  height: 104px;
  border-radius: 50%;
  object-fit: none;
  margin-top: 72px;

}

.profile__names {
  display: flex;
  padding-top: 24px;
  align-items: center;
}

.profile__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-right: 4px;
  
}
.profile__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding-top: 12px;
}

.profile__data {
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
}

.profile__age {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #97979B;
}

.profile__text {
  padding-left: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.profile__icon {
  width: 20px;
  height: 20px;
}