@keyframes preloader {
    from {
        transform: translateX(-4em) skewX(-45deg);
    }
    to {
        transform: translateX(10em) skewX(-45deg);
    }
    }


.preloader {
    max-width: 343px;
    animation: preloader 5s;
}

