@keyframes preloader {
    from {
        transform: translateX(-4em) skewX(-45deg);
    }
    to {
        transform: translateX(10em) skewX(-45deg);
    }
    }


.preloader {
  width: 95%;
  margin: auto;
  margin-top: 22px;
  
}
.preloader__main {
  display: flex;
  margin-bottom: 24px;
  
}

.preloader_logo {
  width: 72px;
 
}

.preloader__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  
}

.preloader__item:first-child { 
  width: 160px;
  margin-bottom: 6px;
  
}

.preloader__item:last-child {
  width: 80px;
}

preloader__open {
 
  display: flex;
}

.preloader__close {
 
  display: none;
}

