.cards__item {
  display: flex;
  padding-bottom: 12px;
  align-items: center;
}

.card__img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.card__birthday {
  margin-left: auto;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #55555C;
  white-space: nowrap;
}

.card__text {
  display: flex;
  flex-wrap: wrap;
  margin-right: 22px;
}

.card__nickname {
  align-self: center;
  margin: 0 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #97979B;
  text-transform: lowercase;
}

.card__names {
  display: flex;
  align-items: center;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050510;
}

.card__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #55555C;
  flex-basis: 100%;
}

@media screen and (max-width: 502px) {
  .card__names {
    flex-direction: column;
  }

  .card__nickname {
    margin: 0;
    align-self: flex-start;
  }
  .card__title {
    font-size: 14px;
  }

 
}