.error__page {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 133px;
}

.error__page_open {
  display: flex;
}

.error__img {
  width: 56px;
  height: 56px;
}

.error__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: inherit;
  padding: 8px 0 12px;
  margin: 0;
}

.error__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #97979B;
  padding-bottom: 12px;
  margin: 0;
}

.error__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #6534FF;
}